body {
    margin: 0;
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 70px;
    background: #5390ce;
}

.content {
    margin-left: 250px;
    margin-top: 70px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    min-height: 85%;
}

.footer {
    text-align: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    background: #5390ce;
}

.header-title {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.error-input {
    display: block;
    color: #F74B28;
}