.news-block {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5px;
    border: 2px solid #295a8e;
    box-shadow: 0 0 15px #5390ce;
}

.news-title {
    display: inline-block;
    font-family: cursive;
    font-size: 18px;
}

.news-author {
    display: inline-block;
    margin-left: 40px;
}

.news-date {
    display: inline-block;
    margin-left: 40px;
    float: right;
}

.comments-block {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20%;
    margin-left: 10%;
    padding: 5px;
}

.comment-box {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #6789af;
    box-shadow: 0 0 15px #8fa9c3;
}

.comment-date {
    text-decoration: underline;
    display: inline-block;
    float: left;
}

.comment-message {
    margin-left: 5px;
    display: block;
}