.news-block {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
}

.title {
    display: inline-block;
    font-weight: bold;
}

.input-title {
    display: inline-block;
    width: 70%;
    margin-left: 30px;
}

.input-date {
    display: inline-block;
    width: 20%;
    margin-left: 30px;
}

.input-brief {
    display: inline-block;
    width: 70%;
    height: 100px;
    margin-left: 30px;
}

.input-content {
    display: inline-block;
    width: 70%;
    height: 150px;
    margin-left: 10px;
}

.news-field {
    margin-top: 15px;
    margin-bottom: 15px;
}

.select-author {
    width: 200px;
    display: inline-block;
    margin-left: 20%;
}

.select-tag {
    display: inline-block;
    width: 200px;
    margin-left: 5px;
}

.submit-button {
    margin-left: 70%;
}