.authorlist-block {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25%;
}

.author-box {
    margin-top: 5px;
    margin-bottom: 5px;
}

.author-title {
    display: inline-block;
    font-weight: bold;
}

.author-name {
    margin-left: 10px;
    display: inline-block;
}

.author-edit {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
    margin-left: -50px;
	display: inline-block;
}

.author-update {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
	visibility: hidden;
    margin-left: 10px;
    display: inline-block;
}

.author-expire {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
	visibility: hidden;
    margin-left: 15px;
    display: inline-block;
}

.author-cancel {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
	visibility: hidden;
    margin-left: 5px;
    display: inline-block;
}

.add-author-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.author-save {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
    margin-left: 10px;
    display: inline-block;
}