body {
    margin: 0;
}

.page {
    position: relative;
}

.menu {
    font-size: 20px;
    position: fixed;
    left: 0px;
    top: 70px;
    width: 250px;
    font-family: monospace;
    background: white;
    color: #5390ce;
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 70px;
    background: #5390ce;
}

.content {
    margin-left: 250px;
    margin-top: 70px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    min-height: 85%;
}

.footer {
    text-align: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    background: #5390ce;
}

.header-title {
	float: left;
    margin-left: 20px;
    margin-top: 15px;
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.header-login {
	margin-top: 5px;
	float: right;
	font-family: monospace;
	font-size: 14px;
    color: white;
}

.header-menu {
    float: right;
    margin-right: 10px;
    color: white;
}

.header-logout {
    display: inline-block;
	float: right;
	font-family: monospace;
	font-size: 14px;
    color: white;
}

.header-language {
    color: white;
    font-family: monospace;
	font-size: 14px;  
}

.menu-element {
    color: #5390ce;
    text-decoration: initial;
}

.nav {
    margin-top: 5px;
    padding-left: 20px;
}

.error-input {
    display: block;
    color: #F74B28;
}

