.login-form {
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 20%;
    width: 20%;
    border: 2px solid black;
}

.login-field {
    margin: 5px;
}

.login-message {
    margin: 5px;
}
