.newslist-block {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.news-box {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5px;
    border: 2px solid #5390ce;
    box-shadow: 0 0 15px #5390ce;
}

.news-title {
    display: inline-block;
    font-family: cursive;
    font-size: 18px;
}

.news-author {
    display: inline-block;
    margin-left: 20px;
}

.news-date {
    display: inline-block;
    float: right;
}

.news-tag {
    display: inline-block;
    color: #295a8e;
}

.news-comments {
    display: inline-block;
    color: #F74B28;
    margin-left: 20px;
}

.news-edit {
    display: inline-block;
    margin-left: 20px;
}

.news-delete {
    display: inline-block;
    margin-left: 5px;
}

.button-delete {
    margin-left: 83%;
}

.search-block {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30%;
}

.select-author {
    width: 200px;
    display: inline-block;
}

.select-tag {
    display: inline-block;
    width: 200px;
    margin-left: 5px;
}

.filter-button {
    display: inline-block;
}

.reset-button {
    display: inline-block;
}

.filter-form {
    display: inline-block;
}

.reset-form {
    display: inline-block;
}

.pagination-block {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30%;
}

.pagination {
    font-size: 24px;
    font-family: cursive;
    display: inline-block;
}

.inactive-page {
    color: #295a8e;
}

.active-page {
    display: inline-block;
    width: 30px;
    background: #295a8e;
    color: white;
    text-align: center;
}

