.taglist-block {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25%;
}

.tag-box {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tag-title {
    display: inline-block;
    font-weight: bold;
}

.tag-name {
    margin-left: 10px;
    display: inline-block;
}

.tag-edit {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
    margin-left: -50px;
	display: inline-block;
}

.tag-update {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
	visibility: hidden;
    margin-left: 10px;
    display: inline-block;
}

.tag-delete {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
	visibility: hidden;
    margin-left: 15px;
    display: inline-block;
}

.tag-cancel {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
	visibility: hidden;
    margin-left: 5px;
    display: inline-block;
}

.add-tag-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tag-save {
    cursor: pointer;
    color: #295a8e;
    text-decoration: underline;
    margin-left: 10px;
    display: inline-block;
}